Package:photon
Version: 0.1
Priority:
Architecture: all
Essential:
Depends:
Pre-depends:
Suggests:
Installed-Size:
Maintainer: William
Conflicts:
Replaces:
Provides:
Description: Photon é uma linguagem de programação que visa preencher as lacunas da linguagem
